<% let prevPage = Number(data.page) - 1%>
<% let nextPage = Number(data.page) + 1%>
<div class="popular text-center">
    <div class="container">
        <h3 class="display-4 text-left"><%= data.name %></h3>
        <hr>
        <div class="row popular-container">
            <% data.results.forEach((el, index) => { %>
            <a class="col-lg-2 col-md-3 col-sm-4 col-xs-12 d-flex flex-column m-2 card justify-content-fs align-items-center"
                href="/film/<%= el.id %>"><img src="https://image.tmdb.org/t/p/w185<%= el.poster_path %>">
                <p class="text-dark font-weight-bold mt-1 mb-0" style="min-height: 48px;"><%= el.original_title %></p>
                <p class="text-secondary">
                    <% let overviewSliced = el.overview.slice(0, 50); %>
                    <% if (overviewSliced.length < el.overview.length) { %>
                    <%= overviewSliced %>
                    <% } %>
                </p>
            </a>
            <% }) %>

        </div>
        <% if (data.title.includes("Search")) { %>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <% if (data.page > 1) { %>
                    <li class="page-item"><a class="page-link" href="/search/1">First</a>
                    </li>
                    <% } %>
                    <% if (data.page == 1) { %>
                    <li class="page-item disabled"><a class="page-link" href="/search/<%= data.page %>"
                            aria-label="Previous">First</a>
                    </li>
                    <% } else { %>
                    <li class="page-item">
                        <a class="page-link" href="/search/<%= prevPage %>" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <% } %>
                    <% var i = (Number(data.page) > 5 ? Number(data.page) - 4 : 1) %>
                    <% if (i !== 1) { %>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                    <% } %>
                    <% for (; i <= (Number(data.page) + 4) && i <= data.pages; i++) { %>
                    <% if (i == data.page) { %>
                    <li class="page-item active"><a class="page-link" href="/search/<%= i %>"><%= i %></a>
                    </li>
                    <% } else { %>
                    <li class="page-item"><a class="page-link" href="/search/<%= i %>"><%= i %></a>
                    </li>
                    <% } %>
                    <% if (i == Number(data.page) + 4 && i < data.pages) { %>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                    <% } %>
                    <% } %>
                    <% if (data.page == data.pages) { %>
                    <li class="page-item disabled">
                        <a class="page-link" href="/search/<%= nextPage %>" aria-label="Next">
                            Last
                        </a>
                    </li>
                    <% } else { %>
                    <li class="page-item">
                        <a class="page-link" href="/search/<%= nextPage %>" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    <% } %>
                    <% if (data.page < data.pages) { %>
                    <li class="page-item">
                        <a class="page-link" href="/search/<%= data.pages %>">
                            Last
                        </a>
                    </li>
                    <% } %>
                </ul>
            </nav>
        <% } else { %>
        <% if (data.pages > 0) { %>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <% if (data.page > 1) { %>
                <li class="page-item"><a class="page-link" href="/films/<%= data.link %>/1">First</a>
                </li>
                <% } %>
                <% if (data.page == 1) { %>
                <li class="page-item disabled"><a class="page-link" href="/films/<%= data.link %>/<%= data.page %>"
                        aria-label="Previous">First</a>
                </li>
                <% } else { %>
                <li class="page-item">
                    <a class="page-link" href="/films/<%= data.link %>/<%= prevPage %>" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <% } %>
                <% var i = (Number(data.page) > 5 ? Number(data.page) - 4 : 1) %>
                <% if (i !== 1) { %>
                <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %>
                <% for (; i <= (Number(data.page) + 4) && i <= data.pages; i++) { %>
                <% if (i == data.page) { %>
                <li class="page-item active"><a class="page-link" href="/films/<%= data.link %>/<%= i %>"><%= i %></a>
                </li>
                <% } else { %>
                <li class="page-item"><a class="page-link" href="/films/<%= data.link %>/<%= i %>"><%= i %></a>
                </li>
                <% } %>
                <% if (i == Number(data.page) + 4 && i < data.pages) { %>
                <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %>
                <% } %>
                <% if (data.page == data.pages) { %>
                <li class="page-item disabled">
                    <a class="page-link" href="/films/<%= data.link %>/<%= nextPage %>" aria-label="Next">
                        Last
                    </a>
                </li>
                <% } else { %>
                <li class="page-item">
                    <a class="page-link" href="/films/<%= data.link %>/<%= nextPage %>" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                <% } %>
                <% if (data.page < data.pages) { %>
                <li class="page-item">
                    <a class="page-link" href="/films/<%= data.link %>/<%= data.pages %>">
                        Last
                    </a>
                </li>
                <% } %>
            </ul>
        </nav>
        <% } %>
        <% } %>

    </div>
</div>