<div class="container">
    <h3 class="display-4 text-left mt-4"><%= data.filmName %></h3>
    <hr>
    <div class="card text-center">
        <div class="row no-gutters">
            <div class="col-sm-3">
                <img src="https://image.tmdb.org/t/p/w185/<%= data.results.poster_path %>" width="85%"
                    alt="<%= data.results.title%>">
            </div>
            <div class="col-sm-7">
                <table class="table text-left">
                    <tbody>
                        <tr>
                            <th scope="row">Title</th>
                            <td><%= data.results.title%></td>
                        </tr>
                        <tr>
                            <th scope="row">Year</th>
                            <td><%= data.results.release_date.substring(4, -4);%></td>
                        </tr>
                        <tr>
                            <th scope="row">Genre</th>
                            <td><% data.results.genres.forEach(item => { %><%= item.name %> <% }) %></td>
                        </tr>
                        <tr>
                            <th scope="row">Overview</th>
                            <td><%= data.results.overview%></td>
                        </tr>
                        <tr>
                            <th scope="row">Rating</th>
                            <td>5</td>
                        </tr>
                        <tr>
                            <th scope="row">Rate this</th>
                            <td><input id="input-1-ltr-star-xs" name="input-1-ltr-star-xs"
                                    class="kv-ltr-theme-uni-star rating-loading" value="1" dir="ltr" data-size="xs">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h5>Comments</h5>
    <div class="comments">
        <% if (data.comments.length != 0) { %>
        <% data.comments.forEach((el) => { %>
        <div class="card bg-light mb-3">
            <div class="card-header text-left"><span class="comment-name"><%= el.author.name %></span> <small
                    class="text-muted"><%= el.added %></small></div>
            <div class="card-body">
                <div class="row no-gutters">
                    <div class="col-sm-2 text-left">
                        <img src="/images/default-avatar.png" alt="user avatar">
                    </div>
                    <div class="col-sm-10">
                        <p class="text-left"><%= el.text %></p>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
        <% } else { %>
        <div class="comments">
            <div class="w-100 bg-light m-3 text-black-50">
                No one comments found. You can be first.
            </div>
            <form class="col-sm-8 m-auto">
                <div class="form-group">
                    <p class="text-left mb-1">Your comment:</p>
                    <textarea class="form-control" id="comment" rows="2"></textarea>
                </div>
                <button type="button" class="btn btn-primary btn-sm" type="button">Send comment</button>
            </form>
        </div>
        <% } %>
    </div>

</div>