<!doctype html>
<html lang="en">

<head>
    <%- include ('partials/head', {title: data.title}); %>
</head>

<body>
    <div class="page">
        <%- include ('partials/header', {data: { nav: data.nav, isAuth: data.isAuth, name: data.userName }}); %>
        <% if (data.title.includes('HomePage')) { %>
        <%- include ('index', {data: data}); %>
        <% } %>
        <% if (data.title.includes('category')) { %>
        <%- include ('category', {data: data}); %>
        <% } %>
        <% if (data.title.includes('movie')) { %>
        <%- include ('film', {data: data}); %>
        <% } %>
        <% if (data.title.includes('Account')) { %>
        <%- include ('user', {data: data}); %>
        <% } %>
        <% if (data.title.includes('Tag')) { %>
        <%- include ('category', {data: data}); %>
        <% } %>
    </div>
</body>

</html>